/*
  author Sunde
  Сделан для ознакомительных и учебных целей часть 2

*/
/*
Import fonts

*/
@import "reset.css";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700);
@import url(http://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import "fonts/CicleFina/stylesheet.css";
* {
    margin: 0;
    padding: 0;
}
form{
    padding:0;
    margin: 0;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: url("images/header_bgd.jpg") repeat;

}
.wrapper{
    width: 1042px;
    margin: 0 auto;
    height: 100%;
}
.header{
    width: 100%;
}
.top-panel{
    overflow: hidden;
    padding-top: 1px;
}
.subscribe_form{

    background-color: #faa61a;
    float: right;
}
.subscribe_form form{
    display: inline-block;
    vertical-align: baseline;
}

.subscribe_form button{
    border:none;
    background-color: inherit;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 14px;
    padding: 0px 10px 0px 8px;

}

.subscribe_form a{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    border-left: #ffffff 1px solid;
    padding: 0 6px;
}


.subscribe_input{
    width: 225px;
    margin: 5px 0 6px 21px;
    
}
.logo_and_menu_wrap{
    overflow: hidden;
}
.logo_image{
    background: url("images/header_logo.jpg") no-repeat;
    display: inline-block;
}
.logo_first{
    display: inline-block;
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 41px;
    margin-left: 20px;

}
.logo_second{
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: 41px;
    display: inline-block;
}
.menu{
    display: inline-block;
}
.menu li{
    font-family: CicleFina;
    display: inline-block;
}


